
<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="toggleSidebar()" class="menu-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Credit Card Portal</span>
  <span class="header-spacer"></span>
  <div class="favIcon">
    <button mat-icon-button class="menu-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="shareIcon">
    <button mat-icon-button class="menu-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  
</mat-toolbar>

<mat-drawer-container class="mat_drawer_container">
  <mat-drawer  class="sidenav" mode="side" [opened]="sidebarOpened">
   <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
 
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


